/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.hasCourse {
  .mat-calendar-body-cell-content {
    background: orange;
    border-radius: 100%;
  }
}

.courseIsEmpty  {
  .mat-calendar-body-cell-content {
    background: rgb(0, 138, 0);
    color: white;
    border-radius: 100%;
  }
}

.courseIsFull  {
  .mat-calendar-body-cell-content {
    background: rgba(255, 0, 0, 0.829);
    color: white;
    border-radius: 100%;
  }
}

.pastCourse  {
  .mat-calendar-body-cell-content {
    background: rgb(177, 177, 177);
    border-radius: 100%;
  }
}

.mat-tab-label{
  font-size: 1.5em;
}
.mat-tab-label-active{
  font-weight: bold;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
