/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.hasCourse {
  .mat-calendar-body-cell-content {
    background: orange;
    border-radius: 100%;
  }
}

.courseIsEmpty  {
  .mat-calendar-body-cell-content {
    background: red;
    border-radius: 100%;
  }
}
.courseIsFull  {
  .mat-calendar-body-cell-content {
    background: green;
    border-radius: 100%;
  }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
