<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-toolbar color="primary">
    <span class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </span>
</mat-toolbar>
<div class="container">
    <mat-card class="calendarCard">
      <mat-card-header class="header">
          {{ 'PAGES.HOME.CALENDAR.TITLE' | translate }}
      </mat-card-header>
      <mat-card-content class="content">
        <div>
          <mat-form-field style="margin-right: 5%">
          <!-- TODO : factoriser placeholder -->
            <input [(ngModel)]="selectedDate" matInput [matDatepicker]="picker" placeholder="Choisir une date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
          </mat-form-field>
          {{ 'PAGES.HOME.CALENDAR.NEXTCOURSE' | translate }} <span style="font-weight: bold">{{nextCourseDate}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
      <button
        mat-raised-button [disabled]="!selectedDate" (click)="createCourse()">
          {{'PAGES.HOME.CALENDAR.CREATE' | translate}}
      </button>
    </mat-card-actions>
    </mat-card>
    <mat-card class="clientCard">
      <mat-card-header class="header">
          <span>Clients</span>
          <span style="margin-left: 45%;font-size: 0.75em">{{getCustomerSize()}}</span>
            <mat-form-field appearance="outline" style="margin-left: 4%;font-size: 0.25em;margin-top:-1%">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label> Filtrer...</mat-label>
                <input [(ngModel)]=customerFilter matInput placeholder="Filtrer...">
            </mat-form-field>
      </mat-card-header>
    <mat-card-content class="content">
      <mat-tab-group>
        <mat-tab *ngFor="let i of getTabNumbers()" label={{getTabTitle(i)}}>
          <mat-selection-list (selectionChange)="handleSelectionCust($event)">
            <mat-list-option [style.color]="getCustFromText(customer).paidCourses>-1?'black':'red'" *ngFor="let customer of getTabCustomersString(i)"> {{customer}}</mat-list-option>
          </mat-selection-list> </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="openCustomerDialog()">{{ 'PAGES.HOME.CLIENTS.CREATE' | translate }}</button>
      <button mat-raised-button class="editButton" [disabled]="!selectedCust" (click)="editCust(selectedCust)">Modifier</button>
      <button mat-raised-button color="primary" [disabled]="selectedCourses.length === 0 || !selectedCust" (click)="addCustToSelectedCourse(selectedCust)">Ajouter au cours</button>
      <button mat-raised-button  style="position: absolute; right: 1%" color="warn" [disabled]="!selectedCust" (click)="deleteCust()">Supprimer</button>
    </mat-card-actions>
    </mat-card>

        <mat-card class="courseCard">
            <mat-card-header class="header">
                {{ 'PAGES.HOME.COURSE.TITLE' | translate }} {{getSelectedDate()}} <button mat-raised-button style="position:absolute;right:1%;" [disabled]="selectedCourses.length === 0" (click)="captureScreen()">Export PDF</button>
            </mat-card-header>
            <mat-card-content style="overflow: auto"  class="content">
              <div *ngIf="showHtmlToExport" [innerHTML]="htmlToExport"  id="contentToConvert" #content></div>
              <div *ngFor="let course of courses">
                <div *ngIf="isCourseSelected(course)">
                  <p><span class="attendees">Participants :</span><span class="numberOfAttendees">{{course.attendees.length}} / {{course.maxAttendee}}</span></p>
                  <mat-selection-list style="overflow: auto" (selectionChange)="handleSelection($event,course)">
                    <mat-list-option  style="overflow: auto" [style.color]="getCustFromText(attende).paidCourses>-1?'black':'red'" *ngFor="let attende of getAttendees(course)"> {{attende}} </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button class="editButton" [disabled]="!selectedCustForCourse" (click)="editCust(selectedCustForCourse)">Modifier/Payer</button>
              <button mat-raised-button color="accent" [disabled]="!selectedCustForCourse" (click)="deleteFromCourse()">Retirer du cours</button>
              <button mat-raised-button color="warn" style="position: absolute; right: 1%" [disabled]="selectedCourses.length === 0" (click)="deleteCourse()">Supprimer le cours</button>
            </mat-card-actions>
          </mat-card>
</div>
