.container {
  height: 100%;
  display: flex;
  padding : 20px;


  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  background: url(../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .calendarCard{
    padding: 3%;
    border-radius: 20px;
    min-width: 40%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 8%;
    .header {
      font-size : 3rem;
      font-weight: bold;

    }

    .content {
      padding: 3%;
    }

  }
  .clientCard{
    padding: 3%;
    border-radius: 20px;
    min-width: 40%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 8%;
    .header {
      font-size : 3rem;
      font-weight: bold;

    }

    .content {
      padding: 3%;
    }

  }
}


.title {
  color: white;
  margin: 0;
  padding: 50px 20px;
  font-size:2rem;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

