.container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  padding : 2%;


  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  background: url(../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .calendarCard{
    padding: 3%;
    border-radius: 20px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    .header {
      font-size : 3rem;
      font-weight: bold;

    }

    .content {
      padding: 3%;
    }

  }

  .clientCard{
    padding: 3%;
    border-radius: 20px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    .header {
      font-size : 3rem;
      font-weight: bold;

    }

    .content {
      padding: 3%;
    }

  }

  .courseCard{
    padding: 3%;
    border-radius: 20px;
    margin-top: 2%;
    width: 89%;
    background-color: rgba(255, 255, 255, 0.7);

    .header {
      font-size : 2rem;
      font-weight: bold;

    }

    .content {
      padding: 3%;
    }

  }

}



.title {
  color: white;
  margin: 0;
  padding: 50px 20px;
  font-size:2rem;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

