<mat-toolbar color="primary">
    <span class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </span>
</mat-toolbar>
<div class="container">
    <mat-card class="calendarCard">
      <mat-card-header class="header">
          {{ 'PAGES.HOME.CALENDAR.TITLE' | translate }}
      </mat-card-header>
      <mat-card-content class="content">
        <div>
          <mat-form-field style="margin-right: 5%">
          <!-- TODO : factoriser placeholder -->
            <input [(ngModel)]="selectedDate" matInput [matDatepicker]="picker" placeholder="Choisir une date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
          </mat-form-field>
          {{ 'PAGES.HOME.CALENDAR.NEXTCOURSE' | translate }} <span style="font-weight: bold">{{getNextDate()}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
      <button
        mat-raised-button [disabled]="!selectedDate" (click)="createCourse()">
          {{'PAGES.HOME.CALENDAR.CREATE' | translate}}
      </button>
    </mat-card-actions>
    </mat-card>
    <mat-card class="clientCard">
      <mat-card-header class="header">
          {{ 'PAGES.HOME.CLIENTS.TITLE' | translate }}
      </mat-card-header>
    <mat-card-content class="content">
      <mat-tab-group>
        <mat-tab *ngFor="let i of getTabNumbers()" label={{getTabCustomersString(i)[0].substring(0,2)}}>
          <mat-selection-list (selectionChange)="handleSelectionCust($event)">
            <mat-list-option *ngFor="let customer of getTabCustomersString(i)"> {{customer}}</mat-list-option>
          </mat-selection-list> </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="openCustomerDialog()">{{ 'PAGES.HOME.CLIENTS.CREATE' | translate }}</button>
      <button mat-raised-button [disabled]="!selectedCust" (click)="editCust(selectedCust)">Modifier</button>
      <button mat-raised-button [disabled]="!selectedCust" (click)="addCustToSelectedCourse(selectedCust)">Ajouter au cours</button>
      <button mat-raised-button [disabled]="!selectedCust" (click)="deleteCust()">Supprimer</button>
    </mat-card-actions>
    </mat-card>

        <mat-card class="courseCard">
            <mat-card-header class="header">
                {{ 'PAGES.HOME.COURSE.TITLE' | translate }} {{getSelectedDate()}}
            </mat-card-header>
            <mat-card-content  style="overflow: auto"  class="content">
              <div *ngFor="let course of courses; index as i">
                <div *ngIf="isCourseSelected(course)">
                  <p><span class="attendees">Participants :</span><span class="numberOfAttendees">{{course.attendees.length}} / {{course.maxAttendee}}</span></p>
                  <mat-selection-list style="overflow: auto" (selectionChange)="handleSelection($event,course)">
                    <mat-list-option  style="overflow: auto" [style.color]="getCustFromText(attende).paidCourses>-1?'black':'red'" *ngFor="let attende of getAttendees(course)"> {{attende}} </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button [disabled]="!selectedCustForCourse" (click)="editCust(selectedCustForCourse)">Modifier</button>
              <button mat-raised-button [disabled]="!selectedCustForCourse" (click)="deleteFromCourse()">Supprimer</button>
            </mat-card-actions>
          </mat-card>

</div>
